<div class="text-center">
  <!-- Loop over each object in the projects array -->
  {{#each posts as |post|}}
    <div
      class="row mb-4 post py-2 px-4"
      style="background-color: #666666; color:white; justify-content:space-between; border-radius:10px"
    >
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a style="color:white" href="/post/edit/{{post.id}}">{{post.title}}</a>
      <p class="d-flex justify-content-end">

        {{format_date post.created_on}}</p>
    </div>
  {{/each}}
  <a href="/newpost">
    <button class="btn">+ New Post</button>
  </a>
</div>