<script src="./js/login.js"></script>
<div class="card" style="border:2px solid #231010">
  <h3
    class="card-header"
    style="background-color: #231010;color: #d9ead3"
  >Login</h3>
  <div class="card-body" style="background-color: #d9ead3">
    <form class="form login-form" method="POST" action="/login">
      <div class="form-group">
        <label for="email-login">Username</label><br/>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password</label><br />

        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn" style="background-color: #666666; color:white" type="submit">Login!</button>
      </div>
    </form>
        <a class="m-3" href="/signup">Sign up instead</a>
</a>
  </div>

</div>

