<div class="card" style="border:2px solid #231010">
  <h3
    class="card-header"
    style="background-color: #231010;color: #d9ead3"
  >Create a New Post</h3>
  <div class="card-body">
    <div class="col-md-6">
      <form class="form new-project-form" method="POST" action="/post">
        <div class="form-group">
          <label for="project-name">Title</label>
          <br />
          <input class="form-input" type="text" id="title" name="title" />
        </div>

        <div class="form-group">
          <label for="project-desc">Content</label><br />
          <textarea class="form-input" id="content" name="content"></textarea>
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="btn"
            style="background-color: #666666; color:white"
          >Create</button>
        </div>
      </form>

    </div>

  </div>
</div>
<a href="/newpost">
  <button class="btn mt-2" style="background-color: #231010; color:white">+ New
    Post</button>
</a>