<div class="col-md-6">
    <h2>Sign Up</h2>

    <form class="form signup-form" method="POST" action="/api/users">
      <div class="form-group">
        <label for="name-signup">Username</label>
        <input class="form-input" type="text" id="username" name="username"/>
      </div>
      <div class="form-group">
        <label for="password-signup">Password</label>
        <input class="form-input" type="password" id="password" name="password"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up!</button>
      </div>
    </form>
  </div>
</div>
<a href="/login">Login instead</a>
<script src="./js/login.js"></script>